<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422287768695-pc0f9v41tg7t00b5n27glj16fm1vhheh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422287768695-pc0f9v41tg7t00b5n27glj16fm1vhheh</string>
	<key>API_KEY</key>
	<string>AIzaSyBHTQUckmw203I8fy9G9tlyNKxFe-fVfVk</string>
	<key>GCM_SENDER_ID</key>
	<string>422287768695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drcoderz.skippingfrog</string>
	<key>PROJECT_ID</key>
	<string>skippingfrog</string>
	<key>STORAGE_BUCKET</key>
	<string>skippingfrog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422287768695:ios:b6ddcff667a31f74889a72</string>
</dict>
</plist>